.header {
  display: flex;
  justify-content: center; /* Center horizontally */
  border-style: none;
  background-color: #E2E2DF;

}

.header h1 {
  font-family: "Cinzel", serif;
  font-weight: bold;
  color: #9a1750;
  background-color: #E2E2DF;
}

.card-containers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 75px;
}
 

.my-insurance-div{
  padding-top: 12%; /* Use padding instead of margin */
  background-color: #E2E2DF;
}

.mycards {
    margin-left: 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mycards > * {
  flex-basis: calc(33.33% - 0px); /* 33.33% width for each card with spacing */
  margin-bottom: 40px; /* Adjust as needed to create spacing between rows */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}
