#pri {
  margin-left: 2%;
  flex: 1; /* Let the heading take up available space */
}

#heading-1, #heading-typical {
  font-size: 70px;
  margin-left: 5%;
  font-family: "Cinzel", serif;
  font-weight: bold;
}

#heading-typical {
  font-weight: 700;
}

.btn1 {
  border-style: none;
  border-radius: 15%;
}

.imageee {
  max-width: 100%; /* Ensure the image doesn't overflow */
  height: 800px; /* Maintain aspect ratio */
  width: 800px;
}


#subheading {
  width: 300px;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 100px; /* Align directly under the Typical text */
  font-family: "Cinzel", serif;
  font-weight: 500;
  color: #333; /* Adjust color as needed */
}

.overall-home-div {
  background-color: #E2E2DF;
}

#div-my {
  display: flex;
  flex-direction: row;
}

#para-sec {
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 4%;
  margin-right: 20%;
  font-family: "Cabin", sans-serif;
  color: #479ed8;
  font-size: 25px;
}

.my-width {
  margin-top: 7%;
  width: 500px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  #heading-1, #heading-typical {
    font-size: 40px; /* Reduce font size on smaller screens */
  }

  #div-my {
    flex-direction: column; /* Stack heading and image on smaller screens */
  }

  .imageee {
    max-width: 80%; /* Reduce the image width on smaller screens */
  }
}
