.overall-reviews{
    padding-top: 350px;

background-color: #E2E2df;
}

.row{
    margin-left: 5%;
    margin-right: 0%;
    padding-bottom: 40px
}

img{
    width: 20%;
    height: 20%;
}

.my-h1{
    color: #9a1750 !important;
}

.card-body{
    background-color: #E2E2df;
}

.card-title{
    color: #9a1750 !important;
}

.pfp{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.headerpfp{
    display: flex;
    flex-direction: row;
}

.headerpfp h5{
    margin-top: 20px;
    margin-left: 5px;
}