.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.signup-image-container {
  text-align: center;
}

.signup-image {
  width: 150%;
  max-width: 500px;
  height: auto;
}

.signup-form-card {
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h3 {
  color: #9A1750;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    height: auto;
  }

  .signup-image {
    display: none;
  }

  .signup-form-card {
    margin-top: 1rem;
  }
}


